<p id="notice"><%= notice %></p>

<div id="audio_div"></div>
<%= react_component 'Audio', {id: @audio.id, action: controller_name, audio: @audio}, { prerender: true } %>

<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>
