<div class="category-show-title-div">
	<h3 class="category-show-title center-text">Current Inventory</h3>
</div>
<div>
<p id="notice"><%= notice %></p>

<h1>Beats</h1>
<% @repositories.each_with_index do |repo, idx| %>
  <h3>Repository:</h3>

  <%= repo %>

  <br/><hr><br/>

  <% if @items.blank? %>
    No audio files created from this repository...
    <br/><br/>
  <% end %>
  <%= link_to 'Sync Repository', sync_repo_path(idx), class: 'button small' %>

  <br/><hr><br/>


  <ul>
    <% @items.each do |item| %>
      <li>
        <%= link_to item.title, item_path(item) %>
      </li>
    <% end %>
  </ul>

<% end %>
